/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
fieldset,hr{border:0;padding:0}html{color:#222;font-size:1em;line-height:1.4}::-moz-selection{background:#b3d4fc;text-shadow:none}::selection{background:#b3d4fc;text-shadow:none}hr{display:block;height:1px;border-top:1px solid #ccc;margin:1em 0}audio,canvas,iframe,img,svg,video{vertical-align:middle}fieldset{margin:0}textarea{resize:vertical}.browserupgrade{margin:.2em 0;background:red;color:#fff;padding:1em 0;text-align:center;font-size:1.5em}
/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
========================================================================== */
body{font:16px/26px Helvetica,Helvetica Neue,Arial}.wrapper{width:90%;margin:0 5%}.title{color:#fff}.main{padding:30px 0}.main aside{color:grey;padding:0 5% 10px}.footer-container footer{color:#fff;padding:20px 0}.ie7 .title{padding-top:20px}
/* ==========================================================================
   Author's custom styles
========================================================================== */
@font-face { font-family: woodcut; src: url(../font/Woodcut.ttf); }
html * { font-family: woodcut !important; }
.footer-container{ display:none; }
.main aside p{ font-size:1.1em; text-align: center; margin-top:10px; line-height: 1em; }
.main aside img{ height:100px; }
#bci-menu{ padding:10px; z-index: 1; }
.menu-circle{width:100px;height:100px;background:#00B8E8;-moz-border-radius:50px;-webkit-border-radius:50px;border-radius:50px;margin-top:30px;;font-size:1.7em;color:#fff;line-height:1.2em;text-align:center;line-height:4em;}
.menu-circle a, .menu-circle a:visited{ color:#fff; }
.menu-circle a:hover{ color:#000; }
.main-content{position: relative;width:60%;left:15%;top:40px;}
.resp-divider{display: none;}
/* ==========================================================================
   Index
========================================================================== */
#art-hand{ width: 423px; overflow:hidden; }
#art-hand img{ width:610px; position:relative; }
#line-art-connection{position: absolute;margin-left: 106px;margin-top: 5px;width: 746px;height: 640px;overflow:hidden;}
#line-art-connection div{ position:absolute;  width:100%;  height:100%}
#aLine{ position:absolute; left:-4%; }
#pLine{ position:absolute; top:0; left:0;}
#wLine{ position:absolute; top:0; }
#cuLine{ position:absolute; top:0; }
/* ==========================================================================
   About Us
========================================================================== */
#img-container-aboutus{ position:absolute;  left:-28%}
.director-content{ width:118%;  font-size:1.1em}
#img-container-aboutus img{ width:550px;  height:550px;  position:absolute;  left:23%}
#img-container-aboutus #left, #right{width:45%}
#img-container-aboutus #left{ float:left;  text-align:right;  word-wrap:break-word;  margin-top:140px}
#img-container-aboutus #right{ float:right;  text-align:left;  word-wrap:break-word;  margin-top:140px}
#img-container-aboutus #left:before, #right:before{ content:"";  width:100%;  height:490px}
#img-container-aboutus #left:before{ float:right;  shape-outside:ellipse(280px 280px at 110% 27%)}
#img-container-aboutus #right:before{ float:left;  shape-outside:ellipse(280px 280px at -9% 27%)}
#img-container-aboutus h2{margin: 0; color: #009fde;}
#img-container-aboutus h2.ui.header .sub.header{font-size: 0.9em; color: #464646;} 
#img-container-aboutus p{font-size: 0.9em; color: #808080;line-height: 1;} 
#img-container-aboutus .profile-name {margin-bottom: 15px;width: 60%;}
#img-container-aboutus .profile-name:last-child{margin-bottom: 0px;}
#img-container-aboutus div#left  .profile-name {margin-left: 30px;}
#img-container-aboutus div#left  .profile-name:nth-child(4) {margin-left: 50px;}
#img-container-aboutus div#left  .profile-name:last-child {margin-left: 140px;}
#img-container-aboutus div#right .profile-name {margin-left: 155px;}
#img-container-aboutus div#right .profile-name:nth-child(4) {margin-left: 135px;}
#img-container-aboutus div#right .profile-name:last-child {margin-left: 50px;}
@-moz-document url-prefix(){
    #img-container-aboutus #left:before, #right:before {
        content: "";
        width: 0;
        height: 490px;
    }
    #img-container-aboutus div#left  .profile-name {margin-left: -50px;}
    #img-container-aboutus div#left  .profile-name:nth-child(4) {margin-left: -30px;}
    #img-container-aboutus div#left  .profile-name:last-child {margin-left: 30px;}
    #img-container-aboutus div#right .profile-name {margin-left: 235px;}
    #img-container-aboutus div#right .profile-name:nth-child(4) {margin-left: 210px;}
    #img-container-aboutus div#right .profile-name:last-child {margin-left: 155px;}
}

#auLine {
    z-index: -1;
    position: absolute;
    width:40%;
    height:25%;
}


/* ==========================================================================
   Contact Us
========================================================================== */
#cu-content{ padding:10px}
#cu-bci-menu{ padding:10px;  z-index:1;  bottom:110px;  position:absolute}
.cu-menu-circle{ width:100px;  height:100px;  background:#00B8E8;  -moz-border-radius:50px;  -webkit-border-radius:50px;  border-radius:50px;  padding:38px 5px 0 5px;  font-size:1.3em;  color:#fff;  line-height:1.2em;  text-align:center}
#cu-icons{ position:absolute;  bottom:215px}
#cu-icons img{ width:100px;  height:100px}
.cu-menu-circle a, .cu-menu-circle a:visited{ color:#fff}
.cu-menu-circle a:hover{ color:#000}
.cu-line-separator{ height:55px;  width:1px;  background-color:#c8c8c8;   margin-left:50px}
.cu-hor-line-separator{ height:1px;  width:55px;  background-color:#c8c8c8;   margin-top:55px}
#cu-line-top{ display:none}
.cu-hor-menu{ display:inline-flex;  position:absolute;  bottom:125px;  margin-left:100px}
/* ==========================================================================
   Whats New
========================================================================== */
#bci-fbpage{ position:absolute;  top:25%;  left:69%;  width:230px}
#wn-line{ position:relative;  left:-15%;  top:86px;  height:352px;  overflow:hidden;  z-index:-1}
.wn-circle{ -moz-border-radius:100px;  -webkit-border-radius:100px;  border-radius:100px;  font-size:2.5em; color:#fff; line-height:1.2em; text-align:center;  position:absolute}
#wn-blogs{ width:155px;  height:155px;  top:38%;  left:-5%;  background:#31B3CB;  line-height:4.5em}
#blog-line{ z-index:-1;  position:relative}
#wn-latestProj{ width:205px;  height:205px;  top:25%;  left:45%;  background:#0086A7;  line-height:6em}
#latpro-line{ position:relative;  width:100%;  z-index:-1;  top:-100%}
#wn-others{ width:130px;  height:130px;  top:82%;  left:28%;  background:#3CDDFA;  z-index:1;  line-height:3.7em}
#others-line{ position:relative;  top:-200%;  z-index:-1}

/* ==========================================================================
   Media Queries
========================================================================== */


/* ==========================================================================
   Media stage 1
========================================================================== */
@media only screen and (max-width: 320px){
.main aside img{display:block;margin-left:auto;margin-right:auto}
.resp-divider{ top:39%!important; z-index: -1!important;display:block;}
#bci-menu{width: 100%;}
.menu-circle{width:100%;margin-top:6px;height:45px;line-height: 2em;}
.menu-circle.invisible{height:0;padding-top:0;}
.menu-circle.invisible#about-menu{height:0;padding-top:0;}
.main-content{width:100%;top:25px;left:0}
/* ==========================================================================
    Index
========================================================================== */
#line-art-connection{display:none}
#art-hand{height:100%;width:100%}
#art-hand img{height:300px;width:100%}
#bci-fbpage{display:none}
/* ==========================================================================
    Contact Us
========================================================================== */
#cu-content{padding:0}
#cu-bci-menu{padding-bottom:0;position:relative;bottom:0}
.cu-menu-circle{font-size:1.1em;margin:auto}
.cu-hor-menu{display:inline;position:initial;margin:auto}
#cu-line-top{display:block}
#cu-hor-line-top{display:none}
.cu-hor-line-separator{height:55px;width:1px;margin:0 auto}
#cu-icons{position:initial;text-align:center}
.cu-line-separator{height:55px;width:1px;background-color:#c8c8c8;margin:0 auto}
/* ==========================================================================
    About Us
========================================================================== */
#about-menu{ width:100px;  height:100px;  border-radius:50px; margin:0 auto;line-height: 4em;}
#img-container-aboutus{ position:static;  left:0}
#img-container-aboutus img{ width:287px;  height:287px;  position:static}
#auLine{ width:100%;  top:-63px;  z-index:-1}
.director-content{ width:100%}
#img-container-aboutus #left, #right{ width:100%}
#img-container-aboutus #left:before{ float:none;  shape-outside:none}
#img-container-aboutus #right:before{ float:none;  shape-outside:none}
#img-container-aboutus #left{ float:none;  text-align:left;  margin-top:13px}
#img-container-aboutus #right{ float:none;  text-align:left;  margin-top:13px}
#img-container-aboutus #left:before, #right:before{ content:none;  width:0;  height:0}
#img-container-aboutus .profile-name{ width:90%}
#img-container-aboutus div#left .profile-name:last-child{ margin-left:30px}
#img-container-aboutus div#right .profile-name{ margin-left:30px}
#img-container-aboutus div#right .profile-name:nth-child(4){ margin-left:30px}
#img-container-aboutus div#right .profile-name:last-child{ margin-left:30px}
#img-container-aboutus p{ font-size:1em}
#auLine{display: none;}
#about-menu:after{ content:"";  display:block;  width:0px;  height:65px;  border:0;  border-left:2px solid rgb(185,185,185);  margin:5px auto;  padding:0px;  z-index:-1}
/* ==========================================================================
    Whats New
========================================================================== */
#whats-new-menu{width:100px; height:100px; position:relative; margin:0 auto; line-height:4em}
#whats-new-menu:after{ content:"";  display:block;  width:0px;  height:65px;  border:0;  border-left:2px solid rgb(185,185,185);  margin:5px auto;  padding:0px;  z-index:-1}
#wn-container{height:100%}
#wn-line{display:none}
.wn-circle{position:static; margin:auto; margin-top:20px}
#wn-blogs:after, #wn-latestProj:after{ content:"";  display:block;  width:0px;  height:30px;  border:0;  border-left:2px solid rgb(185,185,185);  margin:-4px auto;  padding:0px;  z-index:-1}
}

/* ==========================================================================
   Media stage 2
   ========================================================================== */

@media only screen and (min-width: 321px) and (max-width: 479px) {

.main aside img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.resp-divider{ top:39%!important; z-index: -1!important;display:block;}
#bci-menu{
    padding:0;
    width:100%;
}

.menu-circle.invisible{
    height:0;
    padding-top:0;
}
.menu-circle.invisible#about-menu{
    height:0;
    padding-top:0;
}
.menu-circle{
    width:100%;
    margin-top:6px;
    height:100%;
    font-size:2em;
    line-height: 1.8em;
}
.main-content{
    width:100%;
    top:25px;
    left:0;
}
/* ==========================================================================
    Index
========================================================================== */
#art-hand{
    width:100%;
    height:100%;
}

#art-hand img{
    width:100%;
}

#line-art-connection{
    display:none;
    /*border: 1px solid red;*/
}

#bci-fbpage{
    display:none;
}


/* Contact Us */
#cu-content{ padding:0}
#cu-bci-menu{ padding-bottom:0px;  position:relative;  bottom:0}
.cu-menu-circle{ font-size:1.1em;  margin:auto}
.cu-hor-menu{ display:inline;  position:initial;  margin:auto}
#cu-line-top{ display:block}
#cu-hor-line-top{ display:none}
.cu-hor-line-separator{ height:55px;  width:1px;   margin:0 auto}
#cu-icons{ position:initial;  text-align:center}
.cu-line-separator{ height:55px;  width:1px;  background-color:#c8c8c8;  margin:0 auto}

/* ==========================================================================
   Whats New
   ========================================================================== */

#whats-new-menu{
    width: 100px;
    height: 100px;
    position:relative;
    margin:0 auto;
    line-height: 3.7em;
}  
#whats-new-menu:after{ 
    content: "";
    display: block;
    width: 0px;
    height: 60px;
    border: 0;
    border-left: 2px solid rgb(185,185,185);
    margin:-4px auto;
    padding: 0px;
    z-index: -1;
}
#wn-container{height:100%;}
#wn-line{ display:none; }
.wn-circle{position:static;margin:auto;margin-top:20px;}
#wn-blogs:after , #wn-latestProj:after {
    content: "";
    display: block;
    width: 0px;
    height: 30px;
    border: 0;
    border-left: 2px solid rgb(185,185,185);
    margin:-4px auto;
    padding: 0px;
    z-index: -1;
}


/* ==========================================================================
    About Us
========================================================================== */
#about-menu{ width:100px;  height:100px;  border-radius:50px; margin:0 auto;line-height: 4em;}
#img-container-aboutus{ position:static;  left:0}
#img-container-aboutus img{ width:100%;  height:100%;  position:static}
#auLine{ width:100%;  top:-63px;  z-index:-1}
.director-content{ width:100%}
#img-container-aboutus #left, #right{ width:100%}
#img-container-aboutus #left:before{ float:none;  shape-outside:none}
#img-container-aboutus #right:before{ float:none;  shape-outside:none}
#img-container-aboutus #left{ float:none;  text-align:left;  margin-top:13px}
#img-container-aboutus #right{ float:none;  text-align:left;  margin-top:13px}
#img-container-aboutus #left:before, #right:before{ content:none;  width:0;  height:0}
#img-container-aboutus .profile-name{ width:90%}
#img-container-aboutus div#left .profile-name:last-child{ margin-left:30px}
#img-container-aboutus div#right .profile-name{ margin-left:30px}
#img-container-aboutus div#right .profile-name:nth-child(4){ margin-left:30px}
#img-container-aboutus div#right .profile-name:last-child{ margin-left:30px}
#img-container-aboutus p{ font-size:1em}
#auLine{display: none;}
#about-menu:after{ content:"";  display:block;  width:0px;  height:65px;  border:0;  border-left:2px solid rgb(185,185,185);  margin:-14px auto;  padding:0px;  z-index:-1}

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    .oldie nav a {
        margin: 0 0.7%;
    }
}

/* ==========================================================================
   Media stage 3
   ========================================================================== */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.main aside{
    width:100%;
}
.main aside img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#bci-menu{
    width:120px;
}
.menu-circle{
    width:80px;
    height:80px;
    font-size:1.5em;
}

#art-hand{
    width: 65%;
    position: absolute;
    top: 225px;
    left: 30%;
}

#art-hand img{
    width:100%;
}

#line-art-connection{
    display:none;
    width: 77%;
    height: 520px;
    top: 225px;
    margin-left:83px;
    margin-top:0;
    z-index:-1;
}
.main-content {
    position: absolute;
    width: 58%;
    left: 28%;
    top: 215px;
}

 #bci-fbpage{
    display:none;
}

/* Contact Us */
#cu-content {
    padding:0;
}  

#cu-bci-menu {
    width:120px;
    margin: 0 auto;
    padding-bottom:0px;
    position: relative;
    bottom: 0;
}      

.cu-menu-circle{
    font-size:1.1em;
    margin:auto;
}    

.cu-hor-menu {
    display: inline;
    position: initial;
    margin: auto;
}

#cu-line-top {
    display:block;
}

#cu-hor-line-top {
    display:none;
}

.cu-hor-line-separator {
    height:55px;
    width:1px;  
    margin: 0 auto;
}  

#cu-icons {
    position:initial;
    text-align:center;
}  

.cu-line-separator {
    height: 55px;
    width: 1px;
    background-color: #c8c8c8;
    margin: 0 auto;
}   
/* ==========================================================================
   About Us
   ========================================================================== */
#about-menu{font-size:1.5em}
#img-container-aboutus{left:-36%}
#auLine{width:75%;z-index:-1}
#img-container-aboutus img{width:80%;height:37%;left:35%;position:relative}
.director-content{width:100%}
#img-container-aboutus #left{float:left;text-align:left;margin-top:50px}
#img-container-aboutus #left:before, #right:before { content:none; }
#img-container-aboutus #left, #right { width:50%; }
#img-container-aboutus div#left .profile-name { margin-left:15px; }
#img-container-aboutus .profile-name { width:100%; }
#img-container-aboutus div#left .profile-name:last-child { margin-left: 15px; }
#img-container-aboutus #right { margin-top: 50px; }
#img-container-aboutus div#right .profile-name { margin-left: 40px; }
#img-container-aboutus div#right .profile-name:nth-child(4) { margin-left: 40px; }
#img-container-aboutus div#right .profile-name:last-child { margin-left: 40px; }

/* ==========================================================================
   Whats New
   ========================================================================== */

#wn-container{
    position:absolute;
    top:-65px;
}
#wn-line{ left:-19%; width:130%; }
}   

/* ==========================================================================
   Media stage 4
   ========================================================================== */
@media only screen and (min-width: 768px) and (max-width: 1139px) {
.title {float: left;}
nav {float: right;width: 38%;}
.main aside{float:right;width:28%}
.main aside img{width:100%;height:65px;left:0}
#bci-menu{position:absolute;width:122px}
#cu-bci-menu{position:absolute;width:122px}
#art-hand{margin-left:150px;width:490px;margin-top:55px}
#art-hand img{width:495px}
#line-art-connection{width:550px}
#aLine { width:95%; }
#cLine { width:89%; }
#pLine { width:80%; }
#wLine { left:0; width:70%;}
#cuLine { left:0; width:70%;}
.main-content{position:relative;width:58%;left:17%;top:40px}
#bci-fbpage{top:47%;left:74%;width:185px}
/* ==========================================================================
   About Us
========================================================================== */
#img-container-aboutus { left: -33%; }
#img-container-aboutus img{width:75%;height:40%;position:relative}
#img-container-aboutus #left,#right{width:49%}
.director-content{width:112%;left:10%;position:relative}
#img-container-aboutus #left{float:left;text-align:left;margin-top:50px}
#img-container-aboutus #left:before, #right:before { content:none; }
#img-container-aboutus #left, #right { width:50%; }
#img-container-aboutus div#left .profile-name { margin-left:15px; }
#img-container-aboutus .profile-name { width:100%; }
#img-container-aboutus div#left .profile-name:last-child { margin-left: 15px; }
#img-container-aboutus #right { margin-top: 50px; }
#img-container-aboutus div#right .profile-name { margin-left: 40px; }
#img-container-aboutus div#right .profile-name:nth-child(4) { margin-left: 40px; }
#img-container-aboutus div#right .profile-name:last-child { margin-left: 40px; }
}

/* ==========================================================================
   Media stage 5
   ========================================================================== */
@media only screen and (min-width: 1140px) {
.main aside { float: right;width: 28%; }
.wrapper { width: 1026px; margin: 0 auto; }
.main aside img{ width:100%; height:100%; }
#art-hand{margin-left:230px;margin-top:0;width:615px;position:absolute}
#art-hand img{ width:605px; }
#bci-menu{ position:absolute; width:122px;}
#line-art-connection{ width:694px; }
.main-content{position:relative;width:58%;left:17%;top:40px}
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
.hidden,.invisible{visibility:hidden}.hidden{display:none!important}.visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto}.clearfix:after,.clearfix:before{content:" ";display:table}.clearfix:after{clear:both}
/* ==========================================================================
   Print styles
   ========================================================================== */
@media print{blockquote,img,pre,tr{page-break-inside:avoid}*,:after,:before{background:0 0!important;color:#000!important;box-shadow:none!important;text-shadow:none!important}a,a:visited{text-decoration:underline}a[href]:after{content:" (" attr(href) ")"}abbr[title]:after{content:" (" attr(title) ")"}a[href^="#"]:after,a[href^="javascript:"]:after{content:""}blockquote,pre{border:1px solid #999}thead{display:table-header-group}img{max-width:100%!important}h2,h3,p{orphans:3;widows:3}h2,h3{page-break-after:avoid}}